- content_for :page_title, "search"
#main-content
  %h3= t(:search_results)
  - if @n.nil? || @query.nil?
    = t(:empty_search)
  - elsif @n == 0
    = "There is no result for the query \"#{@query.html_safe}\"."
  - else
    = "The query was \"#{@query.html_safe}\", #{@n} results match."
    - if not @members.empty?
      %h4= t(:members)
      %ul
        = render partial: "member", collection: @members
    - if not @publications.empty?
      %h4= t(:publications)
      %ul
        = render partial: "publication", collection: @publications
