%li.publication
  %h6= publication.title.capitalize
  %p.subtitle= publication.authors
  %p.subtitle= publication.year
  -if publication.pdf.exists? or not publication.bib.blank?
    %p.links
      -if publication.pdf.exists?
        =link_to "[pdf]", publication.pdf.url
      -if not publication.bib.blank?
        =link_to "[bib]", publication_path(publication)
