- content_for :toolbar do
  #toolbar
    #toolbar-container
      = form_tag url_for( controller: :publications, action: :index), method: :get, id: :publication_filters, turboboost: true do
        - Publication.get_filters.each do |field|
          = label_tag field,t(field)
          = text_field_tag field, params[field]
        = submit_tag :filter
        = submit_tag t('clear'), type: :reset
- content_for :page_title, t(:publications)
#main-content
  %h3= t(:publications)
  = paginate @publications
  %ul#publications
    - @publications.each do |publication|
      = render partial: "publication", locals: {publication: publication}
  = paginate @publications
