%header
  = render partial: "shared/menubar"
  #titlebar
    #titlebar_container
      -# = image_tag "nanomedicine_logo.png", alt: "nanomedicinelab"
      #logo
  %nav
    #nav_container
      = render partial: "shared/nav"
      = form_tag url_for( controller: :search, action: :results), method: :get, class: "navbar-search", turboboost:true do 
        = text_field_tag 'search', nil, placeholder: t(:search)
  %div
    = render partial: "shared/messages"
