#menubar
  #language_select
    %ul#lang
      %li
        = link_to "en", :locale=>'en'
      %li
        = link_to "fr", :locale=>'fr'  
  #login
    %ul#login_controls
      -if member_signed_in?
        %li= link_to t(:logout), destroy_member_session_path, method: :delete
      -else
        %li= link_to t(:login), new_member_session_path
      -if member_signed_in?
        %li= link_to t(:manage_profile), edit_member_registration_path
      -else
        %li= link_to t(:signup), new_member_registration_path
