%ul
  %li
    = link_to t(:home), controller: "/home", action: "index"
  %li
    = link_to t(:news), news_index_path
  %li
    = link_to t(:members), members_path
  %li
    = link_to t(:publications), publications_path
  %li
    = link_to t(:events), events_path
  %li
    = link_to t(:contact_us), controller: "/home", action: "contact"
