%h3 Bienvenue!
%p
  Bienvenue sur le site officiel de Nanomedicine Laboratory.
%p
  Nous espérons que vous trouverez ici toute l'information dont vous avez besoin sur notre recherche.
%h3 Le Laboratoire
%p
  Des travaux scientifiques récents ont montré que les nanotechnologies
  ouvrent des perspectives d’application extrêmement prometteuses en
  particulier pour le diagnostic et les soins médicaux appropriés.
  L’utilisation des nanomatériaux est déjà fortement développée dans le
  secteur de la cosmétique, dans celui des dispositifs médicaux tels que
  pansements, implants, prothèses,…, ainsi que dans le diagnostic in vitro de
  maladies infectieuses ou immunologiques.
%p
  L’emploi, encore à l’état relativement embryonnaire, de nanostructures pour
  le diagnostic et la thérapie du cancer a mis en exergue les potentialités de
  ces techniques de miniaturisation sur l’amélioration des contrastes et la
  finesse des images en IRM ainsi que sur le gain en sélectivité et en
  efficacité des traitements au niveau cellulaire.
%p
  Cependant, la plupart des équipes de recherche dans le domaine des
  nanostructures ont une vision parcellaire, dans la mesure où elles développent
  leur expertise soit dans le domaine des nanomatériaux avec une spécialité
  physico-chimique uniquement, soit dans le domaine biochimique/biogénétique
  essentiellement réservé aux biochimistes, soit encore dans le domaine médical
  clinique. Il existe donc très peu, à notre connaissance dans le monde
  scientifique, de laboratoires alliant les trois aspects. Il nous est apparu
  scientifiquement intéressant de palier ce manque de continuité et de logique
  dans le processus de recherche. Des physiciens issus de l’optique et de la
  physique moléculaire, des électro-chimistes et des chimistes organiciens, des
  pharmaciens et des médecins se sont donc regroupés pour bâtir une équipe
  pluridisciplinaire capable de prendre part à tous les maillons de la chaîne.
%p
  Dans ce projet ambitieux, la recherche sera fondamentale afin de mieux
  comprendre les phénomènes physicochimiques à l’échelle de la cellule. Elle sera
  également appliquée pour développer les méthodes biochromatographiques, la
  fonctionnalisation de nanostructures et les méthodes d’imagerie médicale et
  clinique. Le but étant d’affiner les méthodes de radiothérapie sélective dans le
  traitement de tissus tumoraux ou la délivrance d’inhibiteurs dans certaines
  maladies.
