- content_for :page_title, t(:contact_us)
  
#main-content
  %h3= t(:contact_us)
  -# =image_tag "planUFR_ST.jpg", class:"map"
  %div#map
    To get in touch with us, please contact our secretary
  %div#secretary
    = render partial: "members/member", locals: {member: @secretary}

  :javascript
    $(document).ready(function(){
      initMap();
    });
