// Here is where you can define your constants for your application and to configure the blueprint framework.
// Feel free to delete these if you want keep the defaults:

$blueprint-grid-columns: 24;
$blueprint-container-size: 950px;
$blueprint-grid-margin: 10px;

// Use this to calculate the width based on the total width.
// Or you can set $blueprint-grid-width to a fixed value and unset $blueprint-container-size -- it will be calculated for you.
$blueprint-grid-width: ($blueprint-container-size + $blueprint-grid-margin) / $blueprint-grid-columns - $blueprint-grid-margin;

@mixin nano-container {
    @include container;
    width: 70%;
}

// Typography
$nano-base-font-size:14px;
$nano-small-font-size:12px;

// Dimensions
$nano-vertical-margin:$blueprint-grid-width/2;
$nano-menu-height:30px;
$nano-prefooter-height:120px;
$nano-footer-height:$nano-menu-height;
$nano-nav-height:45px;
$nano-logo-height:65px;
$nano-profile-pic-size:100px;

// Colors
$nano-menu-link-color: #ffffff;
$nano-default-link-color: #42539E;
$nano-highlight-color: #95B0D9;
$nano-primary-theme-color: #2C3440;
$nano-bg-color: $nano-primary-theme-color;
$nano-secondary-theme-color: #593339;
