// This import applies a global reset to any page that imports this stylesheet.
@import "blueprint/reset";

// To configure blueprint, edit the partials/base.sass file.
@import "partials/base";

// Import all the default blueprint modules so that we can access their mixins.
@import "blueprint";
@import "blueprint/liquid";
@import "blueprint/typography";

@import "compass/css3";
@import "compass/layout";
@import "compass/utilities/lists/horizontal-list";

// If you are doing a lot of stylesheet concatenation, it is suggested
// that you scope your blueprint styles, so that you can better control
// what pages use blueprint when stylesheets are concatenated together.
@include sticky-footer($nano-footer-height, "#content", "#content-footer", "#footer");
body.bp {
    @include blueprint-typography(true);
    @include blueprint-utilities;
    @include blueprint-debug;
    @include blueprint-interaction;

    background: $nano-bg-color;
    a {
        text-decoration: none;
        color: $nano-default-link-color;
        &:hover {
            text-decoration: none;
            color: $nano-highlight-color;
        }
        &:visited {
            text-decoration: none;
            color: $nano-default-link-color;
        }
    }

    ul {
        overflow: hidden;
        li {
            margin-left: 0;
            list-style: none;
        }
    }

    header {
        background-color:darken($nano-primary-theme-color,10%);
        #menubar {
            border-bottom: 1px solid darken($nano-primary-theme-color,15%);
            height: $nano-menu-height;
            line-height: $nano-menu-height;
            overflow: hidden;
            ul {
                text-shadow: 0 -1px 0 black;
                li {
                    padding-left: 6px;
                    padding-right: 5px;
                    display: inline;
                    a {
                        text-shadow: 0 -1px 0 #000101;
                        color: $nano-menu-link-color;
                        &:hover {
                            color: $nano-highlight-color;
                        }
                    }
                    &:first-child {
                        padding-left: 0;
                    }
                    &:last-child {
                        border-left: 1px solid $nano-menu-link-color;
                        padding-right: 0;
                    }
                }
            }
            #login_controls {
                @include float-right;
            }
            #language_select {
                @include float-left;
            }
        }

        #titlebar {
            background: url(image-path('header_bg.jpg'));
            border-top: 1px solid #484848;
            border-bottom: 1px solid black;
            height: 3*$blueprint-grid-width;
            #titlebar_container {
                @include nano-container;
                img {
                    @include float-left;
                    padding-top: 17px;
                }
                #logo {
                    height: $nano-logo-height;
                    margin-top: (3*$blueprint-grid-width - $nano-logo-height)/2;
                    background: url(image-path('nanomedicine_logo.png'));
                    background-repeat: no-repeat;
                }
            }
        } // titlebar

        nav {
            background-color: $nano-primary-theme-color;
            border-top: 1px solid lighten($nano-primary-theme-color,10%);
            border-bottom: 1px solid darken($nano-primary-theme-color,20%);
            height: $nano-nav-height;
            line-height: $nano-nav-height;
            overflow: hidden;
            #nav_container {
                @include nano-container;
                ul {
                    margin: 0;
                    @include float-left;
                    @include horizontal-list;
                    li {
                        margin-right: 20px;
                        a {
                            color: white;
                            text-shadow: 0 -1px 0 #000101;
                            padding: 6px;
                            &:hover {
                                color: $nano-highlight-color;
                            }
                        }
                    }
                }
                .navbar-search {
                    @include float-right;
                    label {
                        padding: 6px;
                        color: white;
                        text-shadow: 0 -1px 0 #000101;
                        padding-right: 10px;
                        position: relative;
                        top: 0;
                    }
                    input {
                        padding: 2px;
                        padding-bottom: 3px;
                        padding-right: 40px;

                        background-color: #ffffff;
                        background-image: url(image_path("searchIcon.png"));
                        background-repeat: no-repeat;
                        background-position: 95% 50%;

                        border: solid 1px #ffffff;
                        height: 26px;
                        width: 189px;

                        &:hover {
                            border: solid 1px $nano-highlight-color;
                        }
                    }
                }
            }
        } // nav
    }

    #toolbar {
        border-top: 1px solid #7eaed7;
        text-align: justify;
        background-color: $nano-primary-theme-color;
        border-top: 1px solid lighten($nano-primary-theme-color,10%);
        border-bottom: 1px solid darken($nano-primary-theme-color,20%);
        line-height: 30px;
        height: 30px;
        #toolbar-container{
            @include nano-container;
            color: red;
            form#publication_filters {
                @include prepend(2);
                @include column(20);
                label {
                    @include column(2);
                }
                input {
                    @include column(2);
                }
            }
        }
    } // toolbar

    #content{
        background-color: white;
        ul.nano-pagination {
            @include span(6);
            margin: 0 auto;
            text-align: center;
            li {
                display:inline;
                &.active {
                    a {
                        color: green;
                    }
                }
                a {
                    color: red;
                    &:visited {
                        color: red;
                    }
                    &:hover {
                        color: blue;
                    }
                }
            }
        }

        border-top: 1px solid lighten($nano-primary-theme-color,20%);
        text-align: justify;
        #container{
            @include nano-container;
            #main-content {
                @include prepend-top($blueprint-grid-width);
                @include append-bottom($blueprint-grid-width/2);
                @include column(22);
                @include prepend(1);
                @include append(1);

                h3 {
                    @include column(22);
                    color: $nano-primary-theme-color;
                    text-transform: capitalize;
                    border-bottom: 2px solid;
                    border-color: $nano-primary-theme-color;
                }
                p {
                    @include prepend(1);
                    @include column(20);
                }
                ul {
                    @include prepend(1);
                    @include append(1);
                    @include column(20);
                    &#publications, &#members {
                        @include prepend-top($blueprint-grid-width/2);
                    }
                    li {
                        margin-bottom: 1.5em;
                        @include clearfix;
                        h6 {
                            a {
                                color: $nano-primary-theme-color;
                                &:hover {
                                    color: $nano-highlight-color;
                                    text-decoration: none;
                                }
                            }
                        }
                        p {
                            @include prepend(0);
                        }
                        p.subtitle {
                            font-style: italic;
                        }
                    }
                    li.member {
                        @include append-bottom($blueprint-grid-width);
                        a.member-picture {
                            @include float-left;
                            img {
                                height: $nano-profile-pic-size;
                            }
                        }
                        .contact-info {
                            @include float-left;
                            @include prepend(1);
                            @include column(10);
                            h6 {
                                color: $nano-primary-theme-color;
                            }
                            p.contact-detail {
                                a {
                                    &:hover {
                                        color: $nano-highlight-color;
                                    }
                                }
                                margin:0;
                            }
                        }
                    }
                    li.publication {
                        @include column(20);
                        margin-bottom: $blueprint-grid-width/2;
                        h6 {
                            color: $nano-primary-theme-color;
                        }
                        p {
                            @include prepend(0);
                        }
                        p.subtitle {
                            font-style: italic;
                            margin:0;
                        }
                        p.links {
                            margin:0;
                        }
                    }
                }

                h3.member-publications{
                    @include prepend-top($blueprint-grid-width);
                }

                .full-contact-info {
                    @include prepend(1);
                    @include column(20);

                    .member-picture {
                        @include float-left;
                        img {
                            height: $nano-profile-pic-size;
                            width: $nano-profile-pic-size;
                        }
                    }


                    .details {
                        @include float-left;
                        @include column(16);
                        @include prepend(1);
                        h6 {
                            @include prepend(0);
                            @include column(6);
                            &.bio {
                                @include prepend-top($blueprint-grid-width);
                            }
                        }

                        p{
                            @include prepend(0);
                            &.subtitle {
                                font-style: italic;
                                margin-top:0;
                            }
                            &.contact-detail {
                                margin:0;
                            }
                        }
                    }
                } // full-contact
            }
        }

        .pagination{
            a {
                text-decoration: none;
                color: $nano-primary-theme-color;
                &:not(.disabled){
                    background:none;
                }
            }
            .page {
                background: none;
            }
        }
    div#map {
        @include prepend(3);
        @include append(3);
        @include column(16);
        height: 400px;
    }
    div#secretary {
        @include prepend(2);
        @include append(2);
        @include column(18);
    }
    } // content

    footer#footer {
        padding: 0;
        background-color: $nano-primary-theme-color; border-top: 1px solid lighten($nano-primary-theme-color,10%);
        color: white;
        height: $nano-footer-height;
        border-top: 1px solid lighten($nano-primary-theme-color,15%);

        #footer-container {
            @include nano-container;
            line-height: $nano-footer-height;
            height: $nano-footer-height;
            overflow: hidden;
            #copyright {
                @include float-left;
            }

            ul {
                text-shadow: 0 -1px 0 black;
                @include float-right;
                margin: 0;
                li {
                    // margin-right: 20px;
                    padding-left: 6px;
                    padding-right: 5px;
                    display: inline;
                    border-left: 1px solid #ffffff;
                    a {
                        color: white;
                        &:hover {
                            color: $nano-highlight-color;
                        }
                    }
                    &:first-child {
                        padding-left: 0;
                        border-left:none;
                    }
                    &:last-child {
                        padding-right: 0;
                    }
                }
            }
        }
    } // End footer
}
