!!! 5
%html
  %head
    %title= "nanomedicinelab | #{yield :page_title}"
    = stylesheet_link_tag "application", :media => "all" 
    = javascript_include_tag "application"
    %script{:src => "//maps.google.com/maps/api/js?v=3.13&sensor=false&libraries=geometry", :type => "text/javascript"}
    %script{:src => "//google-maps-utility-library-v3.googlecode.com/svn/tags/markerclustererplus/2.0.14/src/markerclusterer_packed.js", :type => "text/javascript"}
    = csrf_meta_tags
  %body.bp
    = render partial: "shared/header"
    = yield :toolbar
    #content
      #container
        = yield
      #content-footer
    = render partial: "shared/footer"
