%li.member
  =link_to (image_tag member.picture.url ), member_path(member), {class: "member-picture" }
  %div.contact-info
    %h6= link_to "#{member.firstname} #{member.lastname}", member_path(member)
    %p.subtitle=t(member.title)
    -if not member.email.empty?
      %p.contact-detail= mail_to member.email
    -if not member.phone.empty?
      %p.contact-detail
        ="#{t(:phone)}: "
        =member.phone
    %p.contact-detail
      = link_to "see details...", member_path(member)
