- content_for :page_title, "#{@m.firstname[0]}. #{@m.lastname}"
#main-content
  %h3
    = link_to t(:members), controller: :members, action: :index
    =" > #{@m.firstname} #{@m.lastname}"
  %div.full-contact-info
    %div.member-picture
      =image_tag @m.picture.url
    %div.details
      %h6= "#{@m.firstname} #{@m.lastname}"
      %p.subtitle=t(@m.title)
      -if not @m.email.empty?
        %p.contact-detail= mail_to @m.email
      -if not @m.phone.empty?
        %p.contact-detail
          ="#{t(:phone)}: "
          =@m.phone
      -if not @m.fax.empty?
        %p.contact-detail
          ="#{t(:fax)}: "
          =@m.fax
      -if not @m.address.empty?
        %p.contact-detail
          ="#{t(:address)}: "
          =@m.address
      -if not @m.bio.empty?
        %h6.bio=t(:bio)
        %p.bio
          =@m.bio
  -if not @m.publications.empty?
    %h3.member-publications=t(:publications)
    %ul.member-publications
      - @publications.each do |publication|
        = render partial: "publications/publication", locals: {publication: publication}
  = paginate @publications
